*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
#map{
    width: 100%;
    height: 100%;
}
.socket-id-label {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: bold;
}
